@charset "UTF-8";
@font-face {
  font-family: 'lm-roman';
  src: url(../fonts/lmroman10-italic.otf);
  font-weight: 300;
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'lm-roman';
  src: url(../fonts/lmroman10-regular.otf);
  font-weight: 300;
  font-weight: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:focus {
    outline: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  vertical-align: baseline; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

button, input {
  line-height: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }
  button:focus, input:focus, select:focus, textarea:focus {
    outline: none; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

img {
  max-width: 100%; }

html {
  height: 100%;
  font-size: 12px; }

body {
  height: 100%;
  color: black;
  background-color: white;
  font-family: "Fenix", Georgia, Times, serif; }

a {
  cursor: pointer; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.mb-24 {
  margin-bottom: 24px; }

.mb-1 {
  margin-bottom: 1rem !important; }

.mb-2, .margin-bottom-2 {
  margin-bottom: 2rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.margin-bottom-1 {
  margin-bottom: 1rem !important; }

.margin-bottom-2 {
  margin-bottom: 2rem !important; }

.margin-bottom-3 {
  margin-bottom: 3rem !important; }

.margin-bottom-4 {
  margin-bottom: 4rem !important; }

.margin-bottom-6 {
  margin-bottom: 6rem !important; }

.margin-vertical-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.margin-vertical-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important; }

.padding-bottom-1 {
  padding-bottom: 1rem !important; }

.padding-bottom-2 {
  padding-bottom: 2rem !important; }

.padding-bottom-3 {
  padding-bottom: 3rem !important; }

.padding-vertical-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.padding-vertical-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.padding-vertical-6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.border-bk-bottom-1 {
  border-bottom: 1px solid black; }

.border-bk-bottom-2 {
  border-bottom: 2px solid black; }

.border-vertical-4 {
  border-top: 4px solid #9d8146;
  border-bottom: 4px solid #9d8146; }

.border-bottom-4 {
  border-bottom: 4px solid #9d8146; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.block {
  display: block; }

.inline li {
  display: inline;
  margin: 0 30px 0 0; }

.border-bottom {
  border-bottom: 2px solid black; }

.inline-block {
  display: inline; }

.center-block {
  display: block;
  margin: auto; }

.clearfix {
  clear: both; }

.uppercase {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px; }

.capitalize {
  text-transform: capitalize; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.show {
  display: block !important; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

label, select {
  display: block; }

label {
  font-size: 16px !important;
  line-height: 1;
  margin: 0 0 4px 0; }

form {
  max-width: 500px;
  margin: auto;
  display: block; }

.form-group {
  margin-bottom: 16px; }

input[type="email"] {
  float: left;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: 1px solid white;
  padding: 15px;
  color: white;
  width: 70%;
  background: transparent; }

select {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

::-webkit-input-placeholder {
  color: white; }

::-moz-placeholder {
  color: white; }

:-moz-placeholder {
  color: white; }

:-ms-input-placeholder {
  color: white; }

input[type="submit"] {
  border: 1px solid #076fe4;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-linear-gradient(#4294f0, #0776f3);
  background-image: linear-gradient(#4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  background-clip: padding-box;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  box-shadow: none;
  text-shadow: none;
  padding: 18px;
  float: left;
  background: transparent;
  width: 30%;
  border-left: 0;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; }
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #60a2ec;
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
    background-image: linear-gradient(#2f87ea, #086fe3); }
  input[type="submit"]:active:not(:disabled) {
    border: 1px solid #076fe4;
    box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee; }
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }
  input[type="submit"]:hover {
    background-color: white !important;
    color: black !important;
    background-image: none !important;
    box-shadow: none !important; }

.table-layout {
  display: table; }
  .table-layout [class^="column"] {
    display: table-cell !important;
    vertical-align: middle;
    float: none !important; }
    .table-layout [class^="column"] > * {
      vertical-align: middle; }

.blocks-3 li {
  list-style-type: none; }
  .blocks-3 li:after {
    clear: both; }
  .blocks-3 li:nth-child(4n) {
    margin-left: 0; }

.l-dark {
  background: black;
  color: white; }

.l-video {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  color: white;
  background: url(/assets/img/hero/hero-video.jpg); }

.l-black {
  color: white;
  background: black; }

.container {
  position: relative;
  width: 1000px;
  max-width: 1000px;
  margin: 0 auto; }

.l-page-container {
  padding-top: 75px;
  overflow: hidden; }

.l-homepage-container {
  padding-bottom: 60px; }

.l-content-narrow {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  max-width: 600px; }

.l-content-fluid {
  width: 98%;
  position: relative;
  margin: auto; }

.l-content-wide {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  position: relative; }

section:last-child {
  margin: 0; }

.row {
  margin-left: -2rem;
  margin-right: -2rem; }
  .row:after {
    display: table;
    content: " ";
    clear: both; }

.row [class^="column"] {
  float: left;
  display: block;
  padding: 0 2rem 0 2rem; }

.columns-narrow > [class^="column"] {
  padding: 0 4rem 0 4rem !important; }

.columns-center {
  margin: auto !important;
  float: none !important; }

.columns-2 {
  width: 16.66667%; }

.columns-3 {
  width: 25%; }

.columns-4 {
  width: 33.33333%; }

.columns-5 {
  width: 41.66667%; }

.columns-6 {
  width: 50%; }

.columns-7 {
  width: 58.33333%; }

.columns-8 {
  width: 66.66667%; }

.columns-9 {
  width: 75%; }

.columns-10 {
  width: 83.33333%; }

.columns-offset-2 {
  margin-left: 16.66667%; }

.columns-offset-3 {
  margin-left: 25%; }

.columns-offset-4 {
  margin-left: 33.33333%; }

.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: white;
  width: 100%;
  padding: 1.2em 0 1.2em 0;
  border-bottom: 4px solid #9d8146; }

.press {
  max-width: 250px;
  max-height: 100px;
  margin: auto; }

.map {
  display: block;
  margin: auto;
  width: 75%; }

.primary-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%; }
  .primary-nav > li {
    display: inline-block; }
    .primary-nav > li > a {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.2rem;
      font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
      font-weight: 400;
      letter-spacing: 2px;
      display: inline-block;
      vertical-align: middle;
      border-bottom: 1px solid white; }
      .primary-nav > li > a:hover, .primary-nav > li > a.current {
        color: #9d8146;
        border-bottom: 1px solid #9d8146; }
    .primary-nav > li:not(:last-child):after {
      content: "◆";
      padding-top: 3px;
      margin: 0 20px 0 20px;
      display: inline-block; }

.tabbed-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 30px; }
  .tabbed-nav li {
    border: 2px solid #9d8146;
    color: #9d8146;
    font-family: "Fenix", Georgia, Times, serif;
    background: rgba(0, 0, 0, 0.6);
    line-height: 1;
    display: table-cell;
    width: 30%;
    margin-left: 5%; }
    .tabbed-nav li a {
      text-decoration: none;
      padding: 1rem 3rem 1rem 3rem;
      display: block; }
      .tabbed-nav li a:hover {
        cursor: pointer;
        background: #9d8146;
        color: black; }
    .tabbed-nav li:last-child {
      margin-left: 0; }

.ui-tabs-hide {
  display: none; }

#tabs div {
  margin: 80px 40px;
  padding: 25px;
  background: #ccc; }

.ui-tabs-active, .ui-state-active {
  background: #9d8146 !important;
  color: black !important; }

.secondary-nav {
  margin-bottom: 24px; }
  .secondary-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .secondary-nav ul > li {
      display: inline-block; }
      .secondary-nav ul > li:last-child {
        margin: 0; }
      .secondary-nav ul > li a {
        text-decoration: none; }
  .secondary-nav li {
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem; }
  .secondary-nav li:not(:last-child):after {
    content: "◆";
    font-size: 12px;
    margin: 0 20px 0 20px;
    display: inline-block;
    vertical-align: middle; }

.side-nav {
  border: 3px solid black; }
  .side-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .side-nav li {
    font-size: 12px;
    padding: 10px 0 10px 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-weight: 600;
    border-bottom: 1px solid black; }
    .side-nav li:last-child {
      border-bottom: 0; }
  .side-nav a {
    text-decoration: none; }

.pricing-box {
  position: relative;
  top: 20px;
  border: 1px solid black;
  padding: 2rem;
  text-align: center; }
  .pricing-box h1 {
    font-family: "lm-roman", Georgia, Times, serif; }
  .pricing-box .price {
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 100px; }
  .pricing-box.emphasis {
    padding: 4rem;
    top: 0; }

.most-popular:before {
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  display: block;
  width: 122px;
  height: 122px;
  background: url(../img/general/most_popular.png);
  content: '';
  z-index: 9999; }

.logo {
  display: inline-block;
  vertical-align: middle;
  background: url(../img/general/logo.svg) no-repeat;
  background-size: contain;
  width: 100%;
  height: 40px;
  margin-right: 50px; }

.logo-homepage {
  background: url(../img/general/logo-large.svg) no-repeat;
  margin: auto;
  width: 300px;
  height: 300px;
  margin-bottom: 30px; }

.clear {
  clear: both; }

.heading-line-white {
  background-color: white; }

.h-divider {
  width: 100px;
  border-top: 1px solid black;
  margin: auto; }

.dropdown {
  position: relative; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  border: 1px solid #9d8146;
  background: white;
  z-index: 9999;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 150px; }
  .dropdown-menu > li {
    font-size: 1.5rem;
    text-align: left; }
    .dropdown-menu > li > a {
      display: block;
      text-decoration: none;
      padding: 1rem; }
      .dropdown-menu > li > a:hover {
        cursor: pointer;
        color: #9d8146; }
  .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #9d8146; }

.tasting-notes {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .tasting-notes h4 {
    text-align: left;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px; }
  .tasting-notes li {
    position: relative;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 18px 0 18px 0; }
    .tasting-notes li:first-child {
      padding-top: 0; }
    .tasting-notes li > span {
      font-family: "Fenix", Georgia, Times, serif;
      position: absolute;
      bottom: -12px;
      text-align: center;
      padding-top: 2px;
      border-radius: 50%;
      font-size: 18px;
      width: 24px;
      height: 24px;
      background-color: #9d8146;
      color: white; }
  .tasting-notes .level-1 {
    margin-left: 25%; }
  .tasting-notes .level-2 {
    margin-left: 25%; }
  .tasting-notes .level-3 {
    margin-left: 50%; }
  .tasting-notes .level-4 {
    margin-left: 75%; }

.italic {
  font-family: "lm-roman", Georgia, Times, serif !important;
  font-style: italic;
  font-size: 1.5rem; }

header {
  padding: 20px 0 20px 0; }
  header:after {
    clear: both; }

footer {
  text-align: center;
  padding: 3rem 0 3rem 0;
  border-top: 4px solid #9d8146; }
  footer a:hover {
    color: #9d8146; }

.newsletter {
  border: 0;
  background-color: black;
  color: white;
  padding: 40px 0 40px 0; }

.primary-nav-mobile {
  display: none;
  visibility: hidden;
  position: absolute;
  top: -5px;
  right: 0;
  width: 25px;
  height: 25px; }
  .primary-nav-mobile .line {
    width: 100%;
    display: block;
    margin-bottom: 4px;
    background-color: white;
    height: 1px; }
    .primary-nav-mobile .line:last-child {
      margin-bottom: 0; }
  @media (max-device-width: 992px) {
    .primary-nav-mobile {
      display: block;
      visibility: visible; } }

.selling-points {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0; }
  .selling-points li {
    font-family: "Fenix", Georgia, Times, serif;
    font-size: 1.6rem;
    margin: 0 15px 0 0;
    display: inline; }

.cta-banner {
  position: fixed;
  display: none;
  padding: 1rem 0 1rem 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  border-top: 4px solid #9d8146;
  background-color: black;
  color: white; }
  .cta-banner p {
    vertical-align: middle;
    font-size: 1.3rem;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    display: inline-block;
    margin-top: 6px; }

.avatar-matt-heiman, .avatar-bodil-blain, .avatar-john-quiler, .avatar-colin-pyle, .avatar-zaisha-smith, .avatar-shonagh-crosbie, .avatar-lorraine-phillips {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: -125px;
  width: 250px;
  height: 250px;
  left: 50%;
  margin-left: -125px; }

.avatar-matt-heiman {
  background-image: url(../img/team/matt.png); }

.avatar-bodil-blain {
  background-image: url(../img/team/bodil.png); }

.avatar-john-quiler {
  background-image: url(../img/team/john.png); }

.avatar-colin-pyle {
  background-image: url(../img/team/colin.png); }

.avatar-zaisha-smith {
  background-image: url(../img/team/zaisha.png); }

.avatar-shonagh-crosbie {
  background-image: url(../img/team/shonagh.png); }

.avatar-lorraine-phillips {
  background-image: url(../img/team/lorraine.png); }

.team-profile {
  border: 1px solid black;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 149px 2rem 2rem 2rem;
  margin-top: 125px;
  height: 400px; }
  .team-profile p {
    font-size: 1.2rem; }

.banner {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  border: 1px solid #9d8146;
  padding: 1.5em 2em;
  color: black;
  text-align: center; }
  .banner:before {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 13px;
    background: url(../img/icons/ico-voucher.svg);
    display: block;
    width: 75px;
    height: 25px; }
  .banner:after {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 13px;
    background: url(../img/icons/ico-voucher.svg);
    display: block;
    width: 75px;
    height: 25px; }
  .banner > a {
    color: #9d8146;
    text-decoration: none; }

.ico-espresso, .ico-pod, .ico-flat-white, .ico-leaf, .ico-press, .ico-quality, .ico-origins, .ico-post, .ico-care {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 50px; }

.ico-espresso {
  width: 35px;
  background-image: url(../img/icons/ico-espresso.svg); }

.ico-pod {
  width: 32px;
  background-image: url(../img/icons/ico-pod.svg); }

.ico-flat-white {
  width: 36px;
  background-image: url(../img/icons/ico-flat-white.svg); }

.ico-leaf {
  width: 50px;
  height: 25px;
  background-image: url(../img/icons/ico-leaf.svg); }

.ico-press {
  width: 42px;
  height: 40px;
  background-image: url(../img/icons/ico-press.svg); }

.ico-quality {
  width: 55px;
  background-image: url(../img/icons/ico-quality.svg); }

.ico-origins {
  width: 85px;
  background-image: url(../img/icons/ico-origins.svg); }

.ico-post {
  width: 85px;
  background-image: url(../img/icons/ico-post.svg); }

.ico-care {
  width: 50px;
  background-image: url(../img/icons/ico-care.svg); }

.l-hero {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
  padding: 100px 0 100px 0;
  width: 100%;
  border-width: 0 0 4px 0;
  border-style: solid;
  border-color: #9d8146;
  text-align: center;
  color: white; }
  .l-hero h1 {
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
    .l-hero h1:after {
      content: " ";
      display: block;
      margin: auto;
      width: 120px;
      border-top: 4px solid #9d8146;
      margin: 1em auto 1em; }
  .l-hero p {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: "lm-roman", Georgia, Times, serif;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 1; }
  .l-hero .read-more {
    position: relative;
    bottom: 80px;
    margin-left: -15px;
    width: 30px;
    height: 15px;
    margin: auto;
    background: url(../img/general/read_more.png);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-animation: read-more 1s infinite alternate; }

.hero-homepage {
  height: 100%;
  max-height: 768px;
  padding: 30px 0 30px 0 !important;
  background-image: url(../img/hero/hero-homepage.png); }
  .hero-homepage h1 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
    .hero-homepage h1:after {
      display: none; }
  .hero-homepage p {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); }

.sunday-times-badge {
  background-image: url(../img/home/sunday-times-badge.svg);
  width: 270px;
  height: 142px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: -4px;
  left: 2%; }

.hero-flat-white {
  background-image: url(../img/hero/hero-flat-white.jpg); }

.hero-about {
  background-image: url(../img/hero/hero-about.jpg); }

.hero-subscribe {
  background-image: url(../img/hero/hero-subscribe.jpg); }

.hero-wholesale {
  background-image: url(../img/hero/hero-wholesale.jpg); }

.hero-pods {
  background-image: url(../img/hero/hero-pods.jpg); }

.hero-beans {
  background-image: url(../img/hero/hero-beans.jpg); }

.hero-gifts {
  background-image: url(../img/hero/hero-gifts.jpg); }

.hero-espresso {
  background-image: url(../img/hero/hero-espresso.jpg); }

.hero-faq {
  background-image: url(../img/hero/hero-faq.jpg); }

.home-icon {
  height: 200px;
  margin-bottom: 2rem; }

.border-left {
  border-left: 1px solid black; }

.border-top-thick {
  border-top: 2px solid #B58539; }

.l-coffee {
  border: 0;
  background-image: url(../img/general/coffee_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .l-coffee .container {
    background-color: white;
    padding: 10px; }
  .l-coffee .container-inner {
    border: 1px solid black;
    padding: 50px; }

.notes {
  position: relative;
  width: 100%;
  border: 10px solid black; }
  .notes .section {
    border-bottom: 1px solid black;
    padding: 40px 0 40px 0; }
  .notes p {
    padding: 0 40px 0 40px; }
  .notes .lead {
    font-family: "lm-roman", Georgia, Times, serif;
    font-style: italic;
    font-size: 20px;
    margin: auto; }
  .notes .group {
    margin: 0; }

.intensity {
  position: absolute;
  background-color: black;
  top: 30px;
  right: 30px;
  border-radius: 100px;
  width: 80px;
  padding-top: 13px;
  height: 80px;
  text-align: center;
  color: white;
  font-family: Times;
  font-size: 48px; }

.social-nav {
  margin-bottom: 24px; }
  .social-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .social-nav ul > li {
      display: inline-block; }
      .social-nav ul > li:last-child {
        margin: 0; }
      .social-nav ul > li a {
        text-decoration: none; }
  .social-nav li {
    margin-right: 5px;
    display: inline-block; }
    .social-nav li a {
      display: block;
      width: 30px;
      height: 20px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }

.sm-facebook {
  background-image: url(../img/icons/ico-facebook.svg); }
  .sm-facebook:hover {
    border: 0 !important; }

.sm-twitter {
  background-image: url(../img/icons/ico-twitter.svg); }
  .sm-twitter:hover {
    border: 0 !important; }

.sm-pinterest {
  background-image: url(../img/icons/ico-pinterest.svg); }
  .sm-pinterest:hover {
    border: 0 !important; }

.sm-instagram {
  background-image: url(../img/icons/ico-instagram.svg); }
  .sm-instagram:hover {
    border: 0 !important; }

.sm-youtube {
  background-image: url(../img/icons/ico-youtube.svg); }
  .sm-youtube:hover {
    border: 0 !important; }

table {
  position: relative;
  width: 100%;
  color: black; }
  table tr {
    vertical-align: middle; }
  table td, table th {
    vertical-align: middle;
    padding: 2rem 4rem 2rem 4rem; }

.table-notes {
  border: 1px solid black; }
  .table-notes thead {
    border-bottom: 1px solid black; }
  .table-notes tr:first-child {
    border-bottom: 1px solid black; }
  .table-notes td:first-child {
    border-right: 1px solid black;
    vertical-align: top; }

.table-blend {
  border: 1px solid black; }
  .table-blend td {
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.2;
    padding: 5px 30px 5px 30px; }
  .table-blend tr:first-child {
    border-bottom: 1px solid black; }
  .table-blend td:first-child {
    border-right: 1px solid black; }

.table-responsive {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }

.table-bordered {
  position: relative;
  border: 10px solid black; }
  .table-bordered th {
    padding: 50px 150px 50px 150px; }
  .table-bordered td {
    padding: 50px; }
  .table-bordered td, .table-bordered th {
    border: 1px solid black; }

.coming-soon {
  display: inline-block;
  background: black;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-style: italic;
  z-index: 9999; }

.table-lines th {
  border-bottom: none; }
.table-lines tr {
  border-bottom: 1px dotted black; }

.btn-primary, .btn-secondary, .btn-bordered, .btn-hover-white {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  text-decoration: none;
  line-height: 1;
  text-align: center;
  display: inline-block;
  cursor: pointer; }
  .btn-primary:hover, .btn-secondary:hover, .btn-bordered:hover, .btn-hover-white:hover {
    cursor: pointer; }

.btn-primary {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  color: #9d8146;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  border: 2px solid #9d8146;
  padding: 15px 0px 15px 0px; }
  .btn-primary:hover {
    background-color: #9d8146;
    color: #332a17; }
  .btn-primary:before, .btn-primary:after {
    position: relative;
    content: "◆";
    margin: -7px 20px 0 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle; }

.table-display, .l-table-display {
  display: table !important; }
  .table-display > [class^="column"], .l-table-display > [class^="column"] {
    display: table-cell !important;
    float: none !important;
    vertical-align: middle; }

.btn-secondary {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 14px;
  background-color: #9d8146;
  padding: 15px 25px 15px 25px; }
  .btn-secondary:hover {
    color: white;
    background: black; }
  .btn-secondary a {
    color: white !important; }

.btn-bordered {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #9d8146;
  font-size: 14px;
  background-color: white;
  border: 3px solid #9d8146;
  padding: 0.8em 1.2em;
  width: 100%; }
  .btn-bordered:hover {
    color: white;
    background: #9d8146; }
  .btn-bordered a {
    color: white !important; }

.btn-hover-white {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: 14px;
  background-color: #9d8146;
  padding: 15px 25px 15px 25px; }
  .btn-hover-white:hover {
    color: black;
    background: white; }
  .btn-hover-white a {
    color: black !important; }

.btn-block {
  display: block; }

.small {
  font-size: 16px !important;
  font-style: italic !important;
  margin-top: 28px !important;
  font-family: "lm-roman", Georgia, Times, serif; }

.footnote {
  font-family: "lm-roman", Georgia, Times, serif;
  font-style: italic;
  font-size: 1.2rem; }

.small-text {
  font-size: 1.2rem; }

.copyright {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: 0.8em; }

.l-explanation .italic {
  font-size: 1.6rem;
  line-height: 1.3; }

h1 {
  font-size: 2.4rem;
  line-height: 1; }

h2 {
  font-size: 2rem;
  line-height: 1; }

h3 {
  font-size: 1.5rem;
  line-height: 1; }

h4 {
  font-size: 1.16667em;
  line-height: 1; }

h5 {
  font-size: 1em;
  line-height: 1; }

.heading-lines {
  border-top: 1px solid black;
  text-align: center;
  margin-top: 20px; }
  .heading-lines h2 {
    position: relative;
    text-transform: uppercase;
    color: #222;
    background-color: white;
    display: inline;
    padding: 0 15px;
    top: -12px;
    letter-spacing: 3px;
    font-size: 18px; }
    .heading-lines h2:after {
      display: none; }

.statement {
  font-family: Times;
  font-size: 22px; }

.underline:after {
  width: 100px;
  height: 1px;
  background-color: black;
  display: block;
  content: '';
  margin: 20px auto 48px; }

.x-large {
  font-size: 5em;
  line-height: 1.5; }

.large {
  font-size: 24px; }

p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 24px; }
  p:last-child {
    margin-bottom: 0; }

strong {
  color: #9d8146; }

.underline {
  text-decoration: underline; }

.text-red {
  color: #9d8146; }

.heading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1em;
  line-height: 1.5;
  letter-spacing: 4px;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif; }

.section-heading {
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px; }
  .section-heading:after {
    content: " ";
    display: block;
    margin: auto;
    width: 120px;
    border-top: 4px solid #9d8146;
    margin: 1em auto 1em; }

.section-sub-heading {
  color: #9d8146;
  font-family: "lm-roman", Georgia, Times, serif;
  font-style: italic; }

.role, .subheading {
  color: #9d8146;
  font-family: "lm-roman", Georgia, Times, serif;
  font-style: italic; }

ul {
  margin-left: 20px;
  margin-bottom: 24px; }

li {
  font-size: 1.5em; }

.nobullet {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  color: inherit; }

figcaption {
  font-size: 14px;
  margin-bottom: 16px; }