<!-- @include _header -->

.l-hero.hero-about
	%h1 About CRU
	%p Why is CRU coffee better coffee?

%section.padding-vertical-6.border-bottom-4
	
	.l-content-wide.text-center
		.row.margin-bottom-4.columns-narrow
			.columns-6
				.ico-quality.center-block.margin-bottom-3
				%h3.heading.margin-bottom-3 CRU Quality

				%p We only use 100% high altitude Arabica coffee, meaning CRU's beans boast complex flavours that result from the extremes of sunny hot days and cool, brisk nights. The outcome is a coffee unlike any other.  You wont see cheap Robusta beans in our coffee either – which many commercial roasters use to bulk out cheaper blends. 

				%p CRU is partnered with some of the most specialised producers in areas recognised for growing the world’s best coffee, including an Ethiopian collective, a Peruvian cooperative, and a community estate in India. All of our partners employ traditional and certified organic farming methods, which means no nasty chemicals or fertilizers, no aggressive farming practices, and only 100% natural ingredients. 

			.columns-6
				.ico-care.center-block.margin-bottom-3
				%h3.heading.margin-bottom-3 We Care About the Big (Big) Picture
				%p CRU is driven by the desire to enjoy quality artisanal coffee, conveniently and consistently, while minimising the impact on the earth. We are passionate about our relationship with the planet, our land, and our bodies. 
				
				%p CRU coffee is packaged in a recyclable pod that can be tossed out with your regular recycling collection. In addition to this, we are actively working towards a wholly biodegradable pod – that will reduce waste to landfill. This is our dream, and we’re committed to making it a reality. 	
		.row.columns-narrow		
			.columns-6
				.ico-origins.center-block.margin-bottom-3
				%h3.heading.margin-bottom-3 Taste Matters
				%p Burnt, bitter coffee is not our bag - so it follows that it’s kept out of our pods. Our passion for perfection informs the entire journey from bean to cup – from securing the best beans to roasting them to our unique “speciality coffee” standard.  As a result, CRU coffee delivers a strong, sophisticated cup of coffee with layered flavours of caramel and subtle notes of fruit.

			.columns-6
				.ico-post.center-block.margin-bottom-3
				%h3.heading.margin-bottom-3 Please, Mr Postman
				%p The only thing standing between you and the artisanal coffee experience soon-to-be-in-your-cup is your front door,  For best results, pop the pod in machine, brew coffee, and enjoy. 

				
%section.padding-vertical-6
	.l-content-wide
		%h2.section-heading Meet The CRU
		.row.margin-bottom-3
			.columns-6
				.team-profile
					.avatar-matt-heiman
					%h3.heading Matt Heiman
					%p.role Founder

					%p It all started with Matt and his dedication to a great cup of coffee. He’s done the start-up thing before and is responsible for the founding members coming together. After years of trying to find a great cup of coffee to enjoy at home, he stopped looking and decided to make it.
 
			.columns-6
				.team-profile
					.avatar-bodil-blain
					%h3.heading Bodil Blain
					%p.role Founder

					%p Bodil is a former model and LSE graduate. One day she caught her Portuguese friend stuffing fresh coffee into empty Nespresso&#0153; pods and it got her thinking. Now being a coffee lover and a believer in all things organic she went to see her entrepreneur friend Matt. They hooked up with super chef JQ and adventurer and businessman Colin and things kicked off. She likes to call her business partners “her boys”.
		
		.row.margin-bottom-3
			.columns-6
				.team-profile
					.avatar-john-quiler
					%h3.heading John Quilter
					%p.role Founder

					%p JQ and Matt met at Universal Music while organising one of his video shoots for Jamie Oliver. Matt invited him along to meet Bodil for a coffee and the three bonded over a passion for responsible business and flat whites. They decided to start CRU and JQ being the chef was put in charge of developing the blend. We let him make the coffee in the office.
	
			.columns-6
				.team-profile
					.avatar-colin-pyle
					%h3.heading Colin Pyle
					%p.role Founder

					%p Colin’s a bit of an adventurer, having driven his bike around India and China. When he met fellow Canadian entrepreneur Matt, to have a catch up, his passion for his next big journey was born. He jumped on board to steer the ship from idea to launch and now him and JQ run the business day to day.  Although they mostly just hang out and drink coffee.
		
		.row.margin-bottom-3		
			.columns-6
				.team-profile
					.avatar-zaisha-smith
					%h3.heading Zaisha Smith
					%p.role Project Manager

					%p Zaisha met John at a food festival in Peckham last summer. They bonded over their love for food, music, a great atmosphere and great people. When CRU was born, John saw a Zaisha-shaped hole in the team and so she joined - with a desire to help build a great business and create a soundtrack for the journey.		
			.columns-6
				.team-profile
					.avatar-shonagh-crosbie
					%h3.heading Shonagh Crosbie
					%p.role Creative Director

					%p Having worked with Shonagh for over 3 years, Matt knew that her commitment to beautiful design, passion for eco-friendly work and slight coffee addiction made her the perfect designer to help make the CRU brand a reality. From the very start she has helped shape CRU into what it is today.
		
		.row.margin-bottom-3
			.columns-6.columns-offset-3
				.team-profile
					.avatar-lorraine-phillips
					%h3.heading Lorraine Phillips
					%p.role Project Manager
					%p Lorraine and Zaisha both studied Economics together at University. Lorraine has always had a keen interest in business and has been building businesses ever since she left university. When an opportunity arose to join this exciting new start up, she grabbed it. Lorraine used to only drink caramel and sugar suffocated coffee. CRU converted her.

<!-- @include _footer -->
