<!-- @include _header -->

.l-hero.hero-beans
	%h1 Beans
	%p If you don't have a Nespresso&#0153; machine, we also do beans!

%section.padding-vertical-6
	.l-content-wide
		.row.margin-bottom-6
			.columns-6
				.pricing-box
					%section.border-bk-bottom-1.padding-bottom-2
						%h1.margin-bottom-1 £17
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 500
						%h4.heading GRAMS
					
					%a{:href => "https://CRUkafe.chargebee.com/hosted_pages/plans/beans500", :role => "button", :class => "btn-secondary"} Order Now

			.columns-6
				.pricing-box
					%section.border-bk-bottom-1.padding-bottom-2
						%h1.margin-bottom-1 £28
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 1
						%h4.heading KILOGRAM
					
					%a{:href => "https://CRUkafe.chargebee.com/hosted_pages/plans/beans1kg", :role => "button", :class => "btn-secondary"} Order Now
		.banner For wholesale beans - #{link_to('click here', '/contact')}.


			
<!-- @include _footer -->
