<!-- @include _header -->
<!-- @include _nav-white -->

:plain
	<!-- Google Code for Purchased Conversion Page -->
	<script type="text/javascript">
	
	/ <![CDATA[ /

	var google_conversion_id = 967830123;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "0w5QCPWGnwkQ69S_zQM";
	var google_remarketing_only = false;
	
	/ ]]> /

	</script>

	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/967830123/?label=0w5QCPWGnwkQ69S_zQM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>


.container-narrow.text-center.padding-vertical-6

	%h1 Success!
	%p.large Your card was succesfully updated. 

<!-- @include _footer -->