<!-- @include _header -->

%section
	.l-content-narrow.padding-vertical-6
		%h1.margin-bottom-4 Contact Us

		%h2.margin-bottom-2 Email
		%p <a href="mailto:jointheCRU@CRUkafe.com">jointheCRU@CRUkafe.com</a>

		%h2.margin-bottom-2 Visit Us
		%p CRU Kafe Limited, Unit 18 - Westbourne Studios, 242 Acklam Road, W105JJ.

		%h2.margin-bottom-2 Call Us
		%p 020 3642 5294


<!-- @include _footer -->
