<!-- @include _header -->

.l-hero.hero-espresso
	%h1 CRU Espresso
	%p Blended to appreciate its fullest taste & character in a single espresso

%section.padding-vertical-2
	.l-content-wide	
		.ico-espresso.center-block.margin-bottom-1
		.coming-soon Coming Soon
		%table.table-notes
			%tr
				%td{:colspan => "2"}
					%h2.heading.text-center CRU Flat White is a skilful blend of 100% arabica beans from Central America, Indonesia and Africa.	
				
			%tr
				%td 
					%p This artisan espresso features just three beans. From Ethiopia; the birthplace of coffee, the blend acquires its earthy base along with caramel and fruity low-notes. The Guatemalan bean insinuates chocolate and walnut with a hint of apricot to the blend, whilst our Papua New Guinea brings a bright winey body and acidity to the overall character.

					%p Best enjoyed in a flat white where the coffee taste powers through the lightly foamed milk. But CRUflatwhite makes a great espresso or ristretto too and is a perfect foundation for a luxurious cappuccino.	
				
				%td{:width => "300px"}
					%ul.tasting-notes
						%li
							%h4 Acidity
							%span.level-2 2
						%li
							%h4 Bitterness
							%span.level-2 2
						%li
							%h4 Roasted Notes
							%span.level-3 3
						%li
							%h4 Cocoa Notes
							%span.level-4 4
						%li
							%h4 Woody Notes
							%span.level-1 1
						%li
							%h4 Cereal Notes
							%span.level-3 3
						%li
							%h4 Winey / Fruity / Flowery
							%span.level-2 2
			

<!-- @include _footer -->