<!-- @include _header -->

.l-hero.hero-flat-white
	%h1 CRU Flat White
	%p 100% Arabica. Organically Grown & Fair Trade Beans*

	.footenote * Awaiting certification from Soil Association.

%section.padding-vertical-2
	.l-content-wide	
		.ico-flat-white.center-block.margin-bottom-2
		%table.table-notes
			%tr
				%td{:colspan => "2"}
					%h2.heading.text-center Designed for body and flavour that will cut through milk, CRU Flatwhite is a skilful blend of beans from Africa, Latin America and Asia.
			%tr
				%td
					%p This artisan blend features just three beans. Our bright roasted Peruvian coffee provides a subtle flowery winey-ness, with the Indian coffee insinuating a biscuity earthiness and depth. Then the overall character of the blend is brought together by the positive acidity of our dark roast premium Ethiopian coffee: the birthplace of coffee delivers the taste of blueberries with a roasty cereal, and heavy cocoa notes. 

					%p The result: a rich, flavourful coffee whose taste will cut through milk. Best enjoyed in a Flat-White' where the coffee powers through the lightly foamed milk. But CRUflatwhite makes a great espresso or ristretto too, and is a perfect foundation for a luxurious cappuccino. 

					%p Recommended milk recipes: Add 50% lightly foamed whole milk to 2 CRUflatwhite capsules to create a perfect antipodean style ‘Flat White’ coffee, or add frothed milk to make a strong Cappuccino in a 75ml cup. Add steamed milk to a single shot to make a tasty Caffè Latte in a 110ml cup. 

				%td{:width => "300px"}
					%ul.tasting-notes
						%li
							%h4 Acidity
							%span.level-4 4
						%li
							%h4 Bitterness
							%span.level-2 2
						%li
							%h4 Roasted Notes
							%span.level-4 4
						%li
							%h4 Cocoa Notes
							%span.level-4 4
						%li
							%h4 Woody Notes
							%span.level-1 1
						%li
							%h4 Cereal Notes
							%span.level-4 4
						%li
							%h4 Winey / Fruity / Flowery
							%span.level-2 2
				
		
				

%section.padding-vertical-6
	.l-content-wide
		%h2.section-heading Blend Provenance

		%table.table-blend.margin-bottom-4
			%tr
				%td
				%td Growing Altitude
				%td Farm </br> Type
				%td Drying Method
				%td CRU Roast

			%tr
				%td Ethiopian Amaro Gayo
				%td 1600m
				%td Community Collective
				%td Natural
				%td Dark
			%tr
				%td Peruvian Yanesha Cooperative
				%td 1700m
				%td Cooperative
				%td Washed
				%td Bright
			%tr
				%td Indian Balmaadi Estate
				%td 1800m
				%td Private / Community
				%td Washed
				%td Bright

		%section.margin-bottom-2.text-center
			%img.margin-bottom-2{:src => "assets/img/blends/peruvian.jpg"}
			%h3.heading.margin-bottom-1 Peruvian Yenesha Cooperative
			
			%p This coffee is collected and processed by Native Peruvian Yanesha Indians. About 7,000 of them still live in 48 tiny communities throughout the central Amazonian rainforest in Peru, between Villa Rica & Oxapampa (Huánuco, Puerto Inca Province, and Chanchamayo Province). This region is widely acclaimed the finest coffee growing region in Peru.

			%img.margin-vertical-2{:src => "assets/img/blends/indian.jpg"}
			%h3.heading.margin-bottom-1 Indian Balmaadi Estate

			%p Balmaadi produces some of the highest shade-grown Arabica coffee in India. High altitude means cold nights and long hot days.  These extremes create intense depth of flavour.  The plantation is criss-crossed by mountain streams which are the source of life in the valley, and give the estate its name. Balmaadi is the anglicized form of the Tamil word ‘Palmaadi’, meaning 'the udder of the cow'.

			%img.margin-vertical-2{:src => "assets/img/blends/ethiopian.jpg"}
			%h3.heading.margin-bottom-1 Ethiopian Amaro Gayo
			
			%p This truly exceptional coffee is exported by Ethiopia's only female miller/exporter, Asnakech Thomas. Asnakech is a native of the Amaro Mountains. The mountainous Sidama growing region separates the communities of Amaro on the eastern slopes, from Nechisar National Park and the lowland tribal areas of Arba Minch in southwest Ethiopia. 

<!-- @include _footer -->