<!-- @include _header -->

.l-hero.hero-faq
	%h1 FAQ
	%p Tell me more about...

%section.border-bottom-4.padding-vertical-4.text-center
	.l-content-narrow
		%h2.section-heading.margin-bottom-2 CRU COFFEE

		%p <strong>Q: Who is CRU, anyway?</strong>
		%p A: CRU is the brainchild of a small group of city-dwelling friends united in a love for drinking and enjoying quality coffee, be it in the café or at home. Galvanised by a mission to deliver the full experience, consistently and conveniently, and with minimal impact to the earth, these friends banded together to bring delicious, organic, premium quality coffee in eco-friendly pods to eager coffee connoisseurs across the land.  

		%p <strong>Q: What makes CRU coffee better than what I can buy in my local supermarket?</strong>
		%p A: Everything! CRU coffee beans are impeccably sourced, expertly roasted, and perfectly packaged – meaning each and every pod results in a beautiful cup of coffee. What is more, the coffee is 100% organic and fair-trade, and made exclusively of premium Arabica beans.

		%p <strong>Q: How do you find your partners who grow the coffee?</strong> 
		%p A: We travel the globe to identify the best bean-growers in the business, partnering only with farmers who share our love of good coffee and the earth, and who are dedicated to growing, harvesting, and either wet or dry processing the beans in an eco-friendly way. You can read more about our partners who grow our beautiful beans #{link_to('here', '/cru-flat-white')}.

		%p <strong>Q: How long do my CRU pods stay fresh?</strong> 
		%p A: Thanks to smart packaging, your CRU coffee stays fresh for 18 months when kept sealed. Once opened, CRU should be consumed within 30days.

%section.border-bottom-4.padding-vertical-4.text-center
	.l-content-narrow
		%h2.section-heading.margin-bottom-2 CRU POD USE
		%p <strong>Q: In which automatic coffee machines should I use my pods?</strong>
		%p A: CRU pods are specifically designed to work in Nespresso&#0153; coffee machines. 

		%p <strong>Q: I have to use a bit more pressure than normal to close the lever when I insert the CRU pods into the machine. Is this ok?</strong>
		%p A: Yes, that is completely normal, due to the specialty packaging. It is also a daily affirmation of your ability to get things done. 

		%p <strong>Q: What should I do with my leftover pods?</strong>
		%p A: To process your leftover pods responsibly, remove the perforated film and used coffee from the pod, and recycle the plastic portion with your normal recycling collection. 

		%p <strong>Q: I sometimes get a lot of water in the ejected pod tray. What’s that about?</strong>
		%p A: This excess water may be due to the foil not being pierced sufficiently. It can happen if your machine needs descaling or the water injectors become blocked with coffee grinds or an air bubble. The injectors can be unblocked by running a normal cycle through without a pod in it.

		%p <strong>Q: My coffee drips out at the end of extraction. Is that normal?</strong> 
		%p A: Yes, that is completely normal. Because of the finely ground coffee used, a proper espresso should finish “drop by drop” – this is a sign of quality and good extraction. Stop the coffee flowing when it reaches the two-thirds level in a conventional espresso cup.

%section.border-bottom-4.padding-vertical-4.text-center
	.l-content-narrow
		%h2.section-heading.margin-bottom-2 ORDER / DELIVERY
		%p <strong>Q: Is there a minimum order? </strong> 
		%p A: Yes, the smallest one-time order is 12 pods, and the smallest monthly subscription is 24 pods.

		%p <strong>Q: Can I order more if needed?</strong> 
		%p A: If you’re on a subscription, we have emergency orders that you can make at anytime with your reduced price per pod. If you’re not on a subscription, then order away at your convenience.

		%p <strong>Q: Where do we deliver?</strong> 
		%p A: Currently, we deliver to customers located in the UK only, if you're outside of the UK contact us for specific details.

		%p <strong>Q: Do I have to pay for delivery?</strong> 
		%p A:  Shipping is included to all mainland UK address. 

%section.padding-vertical-4.text-center
	.l-content-narrow	
		%h2.section-heading.margin-bottom-2 CUSTOMER SATISFACTION
		%p <strong>Q: What if I don't like the coffee?</strong> 
		%p A: Impossible! But, in the instance that you truly are not a fan, we want to hear from you, and we will give you a 100% refund. We’ll also send you some tips on what you can do with the coffee so it doesn’t go to waste.

		%p <strong>Q: Can I put my subscription on hold?</strong> 
		%p A: Yes. If you’re going to be gone for an extended period of time, just contact one of our team members and we’ll find a solution that works for you. We request that any modifications to your subscription be made 30 days in advance – the last thing we want to do is deliver unwanted coffee. 

		%p <strong>Q: Subscriptions make me nervous. Will I regret it?</strong> 
		%p A: Absolutely not! We’re so sure that you’ll love how easy it is to conveniently and consistently enjoy quality cups of coffee, that we guarantee all our products with a 30-day money back guarantee.


<!-- @include _footer -->
