<!-- @include _header -->

.l-hero.hero-gifts
	%h1 Gifts
	%p Give the gift of Organic Speciality coffee to that someone special

%section.padding-vertical-6
	.l-content-wide
		.row.margin-bottom-4
			.columns-4
				.pricing-box
					%section.border-bk-bottom-2.padding-bottom-2
						%h1.margin-bottom-1 £55
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 3
						%h4.heading MONTHS
					%a.btn-secondary.btn-block.margin-bottom-1{:href => "https://CRUkafe.chargebee.com/hosted_pages/plans/gifts3", :role => "button"} Order Now
					.footnote 48 Pods / Month

			.columns-4
				.pricing-box.emphasis
					%section.border-bk-bottom-2.padding-bottom-2
						%h1.margin-bottom-1 £100
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 6
						%h4.heading MONTHS
					%a.btn-secondary.btn-block.margin-bottom-1{:href => "https://CRUkafe.chargebee.com/hosted_pages/plans/gifts6", :role => "button"} Order Now
					.footnote 48 Pods / Month

			.columns-4
				.pricing-box
					%section.border-bk-bottom-2.padding-bottom-2
						%h1.margin-bottom-1 £198
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 12
						%h4.heading MONTHS
					%a.btn-secondary.btn-block.margin-bottom-1{:href => "https://CRUkafe.chargebee.com/hosted_pages/plans/gifts12", :role => "button"} Order Now
					.footnote 48 Pods / Month
		
		.banner.margin-bottom-2 Get a free weeks coffee for you and your family - no strings attached *
		%p.footnote.text-center * Applies to any subscription package. This can be cancelled anytime - with no charge to you. </br> If not cancelled within 7 days, you will be charged for your selected subscription amount.

			
<!-- @include _footer -->
