<!-- @include _header -->

.l-homepage-container
	.cta-banner
		.l-content-fluid
			.row.table-display
				.columns-9
					%p.lead.uppercase Get a free weeks coffee for you & your family - no strings attached
				.columns-3.text-right
					%a.btn-hover-white{:href => "subscribe", :role => "button"} Order Now

	.l-hero.hero-homepage
		.sunday-times-badge
		.l-content-wide
			.logo-homepage

			%h1.margin-bottom-1 Nespresso&#0153; Compatible Pods
			%p.margin-bottom-4 Finer Coffee in a Kinder Capsule

			%ul.selling-points.margin-bottom-2
				%li 100% Arabica
				%li
					◆
				%li Ethically Sourced & Grown *
				%li
					◆
				%li Eco-Friendly 
				%li
					◆
				%li Speciality Coffee

			%a.btn-primary{:href => "subscribe", :role => "button"} Order Now

	%section.padding-vertical-4.text-center.l-explanation{:id => "introduction"}
		.l-content-wide
			.ico-pod.center-block.margin-bottom-2
			%h2.section-heading CRU
			%p.text-large CRU have developed an eco-friendly, Nespresso-compatible pod, chock full of artisanal, organically grown*, and 100% Arabica bean coffee that is conveniently delivered right to your door.
			.footnote.margin-bottom-4
				* Awaiting certification from Soil Association.

			%h2.section-sub-heading.margin-bottom-6 How It Works
			.row
				.columns-4.buffer{:style => "width: 32%"}
					%img.home-icon{:src => "../assets/img/home/process-1.svg", :style => "height: 204px"}
					%h3.heading Choose
					%p.italic Choose how much coffee </br> you want per month
				.columns-4.buffer{:style => "width: 36%"}
					%img.home-icon{:src => "../assets/img/home/process-2.svg", :style => "margin-left: 10%; height: 210px; margin-top: -7px"}
					%h3.heading Sit Back
					%p.italic We deliver your CRU coffee </br> directly to your door, no hassle
				.columns-4.buffer{:style => "width: 32%"}
					%img.home-icon{:src => "../assets/img/home/process-3.svg", :style => "height: 200px; margin-top: 4px"}
					%h3.heading Enjoy!
					%p.italic Relax & enjoy tasty, </br> speciality coffee in a pod	


				
	%section.l-black.padding-vertical-4.border-bottom-4.text-center{:id => "videos"}
		.l-content-wide
			.ico-leaf.center-block.margin-bottom-2
			

			.row{:id => "js-video-tabs"}
				
				.columns-10.columns-center{:id => "js-video-tabs-1"}
					%h2.section-heading Why Is CRU Better Coffee?
					:plain
						<iframe width="100%" height="500" src="//www.youtube.com/embed/nbF_J9uw2BE" frameborder="0" allowfullscreen></iframe>
				
				.columns-10.columns-center{:id => "js-video-tabs-2"}
					%h2.section-heading Espresso Chocolate Truffles
					:plain
						<iframe width="100%" height="500" src="//www.youtube.com/embed/6FWxBKmp4sI" frameborder="0" allowfullscreen></iframe>
				.columns-10.columns-center{:id => "js-video-tabs-3"}
					%h2.section-heading The Perfect Flat White
					:plain
						<iframe width="100%" height="500" src="//www.youtube.com/embed/T2kQdRZNqbA" frameborder="0" allowfullscreen></iframe>

				%ul.tabbed-nav
					%li
						%a{:href => "#js-video-tabs-1"} Why Is CRU Better Coffee?
					%li
						%a{:href => "#js-video-tabs-2"} Espresso Chocolate Truffles
					%li
						%a{:href => "#js-video-tabs-3"} The Perfect Flat White


	%section.padding-vertical-4.border-bottom-4.text-center{:id => "press"}
		.l-content-wide
			.ico-press.center-block.margin-bottom-4
			%h2.section-heading.margin-bottom-4 Who Is talking About CRU?

			.row.margin-bottom-4.table-display
				.columns-4
					%a{:href => "http://www.independent.co.uk/life-style/food-and-drink/features/cooking-with-coffee-in-savoury-dishes-from-baked-beans-to-roast-meats-a-cup-of-joe-can-be-a-dark-and-delicious-pickmeup-9236759.html", :target => "_blank"} 
						%img.press{:src => "/assets/img/press/press-independent.png"}
				.columns-4
					%a{:href => "http://www.thesundaytimes.co.uk/sto/newsreview/features/article1396475.ece", :target => "_blank"} 
						%img.press{:src => "/assets/img/press/press-sunday-times.png"}
				.columns-4
					%a{:href => "#", :target => "_blank"} 
						%img.press{:src => "/assets/img/press/press-evening-standard.png"}
				

			.row.margin-bottom-4
				.columns-4
					%a{:href => "http://www.londoncoffeefestival.com/WhosThere.aspx", :target => "_blank"} 
						%img.press{:src => "/assets/img/press/press-london-coffee.png"}
				.columns-4
					%a{:href => "http://www.newyorkmuminlondon.com/1/category/coffee/1.html", :target => "_blank"} 
						%img.press{:src => "/assets/img/press/press-nylondon.png"}
				.columns-4
					%a{:href => "http://www.granddesignslive.com/speakers/94-market-lane-chefs/939-cru-kafe", :target => "_blank"} 
						%img.press{:src => "/assets/img/press/press-grand-designs.png"}

			

	%section.l-dark.padding-vertical-4{:id => "origins"}
		.l-content-wide
			.ico-origins.center-block.margin-bottom-4
			%h2.section-heading.margin-bottom-4 Where CRU Coffee Comes From
			%img.margin-bottom-4.map{:src => "/assets/img/home/map.svg"}
			.row.columns-narrow
				.columns-4
					%h3.heading.margin-bottom-2 Ethiopian Amaro Gayo
					%h3.subheading.margin-bottom-2 60% roasted cereal, blackberry & robust cocoa.
					%p.small-text This truly exceptional coffee is exported by Ethiopia's only female miller/exporter, Asnakech Thomas.  The final step in the 100% natural processing, the drying, is the critically important one. At Amaro Gayo coffee is dried on raised African beds, keeping the coffee clean and free of soil, while at the same time aerating it from top and bottom. The result is one of the most expensive single origins in East Africa. 
				.columns-4
					%h3.heading.margin-bottom-2 Peruvian Yenesha Estate
					%h3.subheading.margin-bottom-3 30% delicate winey body.
					%p.small-text We have been fortunate in acquiring some of the most distinctive Peruvian coffee.  These beans are collected and processed by Native Peruvian Yanesha Indians. On its own, this coffee bean boasts a flowery-ness and a nutty aftertaste with medium bodied richness of both chocolate & berry. In our espresso blend the flowers and berries manifest themselves as a subtle winey flavour.
				.columns-4
					%h3.heading.margin-bottom-2 Indian Balmaadi estate
					%h3.subheading.margin-bottom-2 10% caramel, biscuity earthiness & depth.
					%p.small-text Balmaadi produces some of the highest shade-grown Arabica coffee in India. High altitude means cold nights and long hot days.  These extremes create intense depth of flavour. The coffee has been cupped by experts and won the Flavour of India, Fine Cup Award 2004, for India’s best Arabica coffee. It is a delicious full bodied coffee with floral citrus fruit balanced by a caramelly biscuity-ness which gives it added depth.
									

	<!-- @include _footer -->
