<!-- @include _header -->

.l-hero.hero-pods
	%h1 Pods
	%p Speciality coffee delivered to your door

%section.padding-vertical-6
	.l-content-wide
		.row
			.columns-4
				.pricing-box
					%section.border-bk-bottom-1.padding-bottom-2
						%h1.margin-bottom-1 £11
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 24
						%h4.heading PODS
					
					%a{:href => "https://CRUkafe.chargebee.com/hosted_pages/plans/pods24", :role => "button", :class => "btn-secondary"} Order Now

			.columns-4
				.pricing-box.emphasis
					%section.border-bk-bottom-1.padding-bottom-2
						%h1.margin-bottom-1 £20
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 48
						%h4.heading PODS
					
					%a{:href => "https://CRUkafe.chargebee.com/hosted_pages/plans/48%20Pods%20(One%20Off)", :role => "button", :class => "btn-secondary"} Order Now

			.columns-4
				.pricing-box
					%section.border-bk-bottom-1.padding-bottom-2
						%h1.margin-bottom-1 £24
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 60
						%h4.heading PODS
					
					%a{:href => "https://CRUkafe.chargebee.com/hosted_pages/plans/60pods", :role => "button", :class => "btn-secondary"} Order Now
			
<!-- @include _footer -->
