<!-- @include _header -->

%section
	.l-content-narrow.padding-vertical-6
		%h1.margin-bottom-2 Privacy Policy
		
		%p We will not disclose your personal information to any third parties for marketing purposes.

		%h2.margin-bottom-2 Introduction

		%P This is the privacy and cookies policy for www.CRUkafe.com (Site). The Site is operated by CRU Kafe Limited(we, us and our). For the purposes of theData Protection Act 1998, we are the data controller.

		%p Our privacy and cookies policy describes the ways we capture your personal information what we do with it and what controls you have. We aim to ensure that any personal information we obtain and use about you will always be held, used and transmitted in compliance with all applicable data protection legislation.

		%h2.margin-bottom-2 We are dedicated to you

		%p We are committed to protecting your privacy on-line. We know that providing personal information is an act of trust and we take that trust seriously. We appreciate that you do not want the personal information you provide to us distributed indiscriminately or used in ways you would not expect. CRU  does not store credit or debit card details nor will not disclose your personal information to any third parties for marketing purposes. Furthermore, communications by CRU will only be sent to you where you are happy to receive these.

		%h2.margin-bottom-2 What Information May We Collect About You?

		%p The information we collect from you depends on what activities you are carrying out on the Site, whether you are logged in or not and whether you are making a purchase.

		%p We may collect and process the following information about you:

		%ul 
			%li information (such as your name, email address, postal address (including post code), telephone number, and date of birth) that you provide by completing forms on the Site, including if you register as a user of the Site, subscribe to any service, upload or submit any material via the Site or request any information;
			%li in connection with an account sign-in facility, your user-name, password and other log-in details;
			%li details of any transactions made by you through the Site;
			%li credit card details (such as card type, name on the card, long card number, card expiry date and CV2 number) that you provide to enable you to make purchases from the Site and that may be updated by you or via your card issuer from time to time;
			%li details of changes to your account that you notify us of (such as holiday settings or address changes);
			%li ratings you provide in relation to products that are available on the Site;
			%li details of who you have successfully referred to the Site;
			%li communications you send to us, for example to report a problem or to submit queries, concerns or comments regarding the Site or its content;
			%li information from surveys that we may, from time to time, run on the Site for research purposes, if you choose to respond to them; and
			%li details of your visits to the Site, the resources you access and any data you download.

		%p You are under no obligation to provide any such information. However, if you should choose to withhold requested information, we may not be able to provide you with certain services.

		%h2.margin-bottom-2 What we use your information for?

		%p We will use the information you provide to:

		%ul 
			%li enable us to process your orders and to provide you with the services and information offered through the Site and which you request;
			%li administer your account with us;
			%li where available and applicable, verify and carry out financial transactions in relation to payments you make online;
			%li provide you with order and billing information;
			%li establish trends in order to recommend other products you may like to purchase;
			%li audit the downloading of data from the Site;
			%li improve the layout and/or content of the pages of the Site and customise them for users;
			%li verify whether you have had a previous account with us to prevent fraudulent take-up of our offers;
			%li identify visitors to the Site;
			%li carry out research on our users' demographics and tracking of sales data; and
			%li send you information we think you may find useful or which you have requested from us, about our products and services, provided you have indicated that you do not object to being contacted for these purposes.

		%p You can tell us not to contact you or tell us you do not wish us to continue to send you information in this way by contacting us using the Contact Details at the end of this privacy and cookies policy or following the instructions in the Marketing section below.

		%h2.margin-bottom-2 Additional Information
		%p When you visit the Site, we may automatically collect additional information about you, such as the type of internet browser you use, the website from which you have come to the Site and your IP address (the unique address which identifies your computer on the internet) which is automatically recognised by our web server. You cannot be identified from this information and it is only used to assist us in providing an effective service on the Site, to collect broad demographic information for aggregate use, to assist us in the detection of fraud, to help identify problems with our server and to administer the Site.

		%h2.margin-bottom-2 Our use of Cookies
		%p Cookies are small pieces of information which are issued to your computer when you visit a website and which store and sometimes track information about your use of that website. A number of cookies we use last only for the duration of your web session and expire when you close your browser. Other cookies are used to remember you when you return to the Site and will last for longer. Although they do identify a user's computer, cookies do not personally identify users.

		%p We use cookies for the following key reasons:
		
		%h2.margin-bottom-2 Essential session management
		%ul 
			%li Creating a specific log-in session for a visitor to our website in order that the site remembers that a visitor is logged in and that their page requests are delivered in an effective, secure and consistent manner.
			%li Recognising when a visitor to the website has visited before; this means we can identify the number of unique visitors we receive to the website and allows us to make sure we have enough capacity for the number of users that we get.
			%li Recognising when a visitor to the website is a registered member.
			%li We may also log information from your computer including the existence of cookies, your IP address and information about your browser program in order to allow us to diagnose problems, administer and track your usage of the Services.
		%h2.margin-bottom-2 Functionality	
		%ul 
			%li Customising elements of the promotional layout and/or content of the pages of the website for example by storing a country code and providing users with content relevant to their country.
		%h2.margin-bottom-2 Performance and measurement
		%ul
			%li Collecting statistical information about how our visitors use the website(s) so that we can improve the website(s) and learn which parts are most popular to visitors.

		%h2.margin-bottom-2 Disabling Cookies
		%p Some of the cookies used by our website are set by us, and some by or with the help of third parties who are delivering services on our behalf. In particular we use third parties to help us collect performance and measurement statistics about our website. To learn more about two examples of the specific performance and measurement cookies used on our site and how to opt-out, visit:

		%h2.margin-bottom-2 Google Analytics Privacy Policy
		%p Most web browsers automatically accept cookies but, if you prefer, you can set your browser to disable cookies or to notify you when you receive a cookie, giving you the chance to decide whether or not to accept it. Please note however, that by blocking or deleting cookies used on the Site you may not be able to take full advantage of the Site as it may impair your use of or prevent access to some areas, including taking advantage of special offers and vouchers. If you do leave cookies turned on, please take care to sign off when you are finished if using a shared computer.

		%p You can also learn more about cookies by visiting www.allaboutcookies.org which includes additional useful information on cookies and how to block cookies using different types of browser.

		%h2.margin-bottom-2 Emails
		%p If you have ever provided us with an email address, we will be able to associate this email address back to your previous browsing and purchase experiences, whether you are logged on or not. We will know whether you receive email alerts and will be able to associate this with any other contact information you may have given us.

		%h2.margin-bottom-2 Will You Receive Marketing?
		%p If you provide us with an email address, it will be entered into our regular email update service only where you have agreed to receiving such emails. From time to time, we may also contact you by post (where you have indicated that you are happy for us doing so) with information on special offers or events regarding our products or services. If you do not wish to continue to receive updates or marketing information, please amend your preferences in the My Account section of the Site.

		%p If you agreed to receiving marketing material at the time your information was collected from you, but subsequently change your mind and no longer wish to receive such communications, you can opt out of receiving future communications at any time. Please note when opting out that you may continue to receive some information from us where this is already in the communication pipeline for up to 1 day after the date on which you update your account.

		%p If you start to set up an account with us via the Site but do not complete the process or place any orders, then we will email you to find out if you need any help to complete the process. An unsubscribe link is given at the end of this email.

		%p You may also unsubscribe from receiving marketing emails by using the Contact Details below.

		%h2.margin-bottom-2 Information Sharing And Disclosure
		%p We are committed to protecting your personal information. We will not disclose your personally identifiable information to third parties without your consent except where:

		%ul 
			%li We are required by law to disclose information to third parties.
			%li The service is necessary for the performance of our operations such as mail delivery, hosting services, protecting us from fraud, and payment of your account.

		%p Where you have referred a new customer to us your first name and first initial of your surname will be shared with the person you referred to us and you agree to that sharing.

		%p In the event that we undergo re-organisation or are sold to a third party, you agree that any personal information we hold about you may be transferred to that re-organised entity or third party.

		%p Companies and individuals registered in our affiliate program receive aggregate information about customers that they direct to us through links on their website. No personally identifiable information is provided to affiliate members; the information collected from our affiliates is used strictly for the affiliate program and will not be used for general marketing purposes.

		%p We also provide analyses of our customers in the aggregate to prospective partners, advertisers and other third parties. We do this so that we and our business partners can understand our customers better, and so we can keep bringing you first-rate services. We may also disclose, on an anonymous basis, statements made by our customers such as comments or feedback we receive on or products or service. At no time, however, will we disclose personal information about specific customers to prospective partners, advertisers and other third parties.

		%h2.margin-bottom-2 External Links
		%p The Site may contain links to external websites. We assume no responsibility for the privacy practices or the content of those websites. Therefore, please read carefully any privacy policies on those websites before either agreeing to their terms or using those websites.

		%h2.margin-bottom-2 Security
		%p We have implemented technology and security features, as well as strict internal guidelines, to safeguard the privacy of your personal information from loss, alteration, unauthorised access or improper use. We will continue to enhance our security procedures as new technology becomes available. Our security and privacy policies are periodically reviewed and enhanced as necessary. Whilst we cannot ensure or guarantee that loss, alteration, unauthorised access or improper use of information will never occur, we use all reasonable efforts to prevent it.

		%p While we make every effort to ensure that your information is secure on our system, you should bear in mind that submission of information over the Internet is never entirely secure. As a result, we cannot guarantee the security of any information you transmit to us, and you do so at your own risk.

		%p our account information is password-protected for your privacy and security. You can play an important role in keeping your personal information secure by maintaining the confidentiality of your password used on the Site. We recommend that you change your password from time to time for additional security. Please advise us immediately if there is any unauthorised use of your account by any other Internet user or any other breach of security.

		%p Only key members of our personnel have access to personal information. Backups are run to prevent loss of information, and our Internet servers are housed in secure facilities.

		%p It is advisable to close your browser when you have finished your user session to help ensure others do not access your personal information if you use a shared computer or a computer in a public place.

		%h2.margin-bottom-2 Storage Of Your Information
		%p Personal information is processed and stored in our databases on secure servers located in the USA. This is necessary in order to process the information. Information submitted by you may be transferred by us to our other offices and/or to the third parties mentioned in the circumstances described above.

		%h2.margin-bottom-2 Your Rights
		%P You have a legal right under the Data Protection Act 1998 to a copy of all the personal information about you held by us. On request, we will provide you with a copy of this information at no cost. You also have a right to correct any errors in that information. As mentioned above, you have a right to prevent the use of your personal information for direct marketing purposes.

		%h2.margin-bottom-2 Contact Details
		%p If you have questions or concerns regarding this privacy and cookies policy, please contact our Privacy Officer, via email at privacy@curkafe.com


<!-- @include _footer -->
