<!-- @include _header -->

%section
	.l-content-narrow.padding-vertical-6
		%h1.margin-bottom-2 Returns Policy

		%p We hope you enjoy all that CRU Kafe has to offer but if for some reason you're still feeling unsatisfied, here are some details of our returns policy.
		
		%p We guarantee all our products with a 30-day money back guarantee. If it’s past 30 days however, give us a call and we can have a conversation. The last thing we want is for our coffee to go to waste.

		%p If you'd like to get in contact for any reason, simply email <a href="mailto:jointheCRU@CRUkafe.com">jointheCRU@CRUkafe.com</a> or call us on 020 3642 5294 and we'll be happy to have a chat.

<!-- @include _footer -->
