<!-- @include _header -->

.l-hero.hero-subscribe
	%h1 Monthly Orders
	%p How much speciality coffee can you get through each month?

%section.padding-vertical-6
	.l-content-wide
		
		.row.margin-bottom-4
			.columns-4
				.pricing-box
					%section.border-bk-bottom-1.padding-bottom-2
						%h1.margin-bottom-1 £10
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 24
						%h4.heading PODS / MONTH
					%a.btn-secondary.btn-block.margin-bottom-1{:href => "https://crukafe.chargebee.com/hosted_pages/plans/small_CRU_monthly_subscription_trial", :role => "button"} Order Now
					.footnote Cancel at anytime

			.columns-4
				.pricing-box.emphasis
					%section.border-bk-bottom-1.padding-bottom-2
						%h1.margin-bottom-1 £18
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 48
						%h4.heading PODS / MONTH
					%a.btn-secondary.btn-block.margin-bottom-1{:href => "https://crukafe.chargebee.com/hosted_pages/plans/medium_CRU_monthly_subscription_trial", :role => "button"} Order Now
					.footnote Cancel at anytime

			.columns-4
				.pricing-box
					%section.border-bk-bottom-1.padding-bottom-2
						%h1.margin-bottom-1 £22
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 60
						%h4.heading PODS / MONTH
					%a.btn-secondary.btn-block.margin-bottom-1{:href => "https://crukafe.chargebee.com/hosted_pages/plans/large_CRU_monthly_subscription_trial", :role => "button"} Order Now
					.footnote Cancel at anytime
		
		.banner.margin-bottom-2 Get a free weeks coffee for you and your family - no strings attached *
		%p.footnote.text-center * Applies to any subscription package. This can be cancelled anytime - with no charge to you. </br> If not cancelled within 7 days, you will be charged for your selected subscription amount.
				

			
<!-- @include _footer -->
