<!-- @include _header -->


%section
	.l-content-narrow.padding-vertical-6
		%h1.margin-bottom-2 Terms & Conditions

		%h2.margin-bottom-2 1. Agreement to Terms and Conditions

		%h3.margin-bottom-2 1.1	Acceptance of Terms and Conditions

		%p 1.1.1 The website www.CRUkafe.com is owned and operated by CRU Kafe Limited, trading as 'CRU Kafe'. References to "we", "us", our" or "the website" are references to CRU Kafe Limited. We are a company registered in England and Wales (company number 08648796), and our address for correspondence is:
		%p 1.1.2 Unit 18 - Westbourne Studios, 242 Acklam Road, W105JJ

		%p 1.1.3 Your use of this website and membership of CRU Kafe Limited is at all times subject to these Terms and Conditions as applicable to your use of the website and all applicable laws. By accessing our website you agree to our Terms and Conditions set out below. If you do not agree to these Terms and Conditions, you must exit our website immediately.

		%h3.margin-bottom-2 1.2	Changes to Terms and Conditions
		%p 1.2.1 We reserve the right, from time to time, with or without notice to you, to change these Terms and Conditions at our sole discretion. The Terms and Conditions applicable to your access to and use of this website will be the version that is current and displayed on the website as at each date you access the website. Your use of the CRU Kafe Limited website after changes are made means that you agree to be bound by such changes.

		%h3.margin-bottom-2 1.3	Membership and Billing
		%p 1.3.1 You can find the specific details regarding your subscription with CRU Kafe Limited including your next scheduled boxes, by clicking on the relevant section of the website.

		%h2.margin-bottom-2 2.	Website Use Terms and Conditions
		%p 2.1 You agree not to upload, post, email or otherwise send or transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, harm, damage, destroy or limit the functionality of any computer software or hardware or equipment linked directly or indirectly with this website. You also agree not to interfere with the servers or networks underlying or connected to this website or our services or to violate any of the procedures, policies or regulations of networks connected to this website.
		
		%p 2.2 You agree not to impersonate any other person while using this website, conduct yourself in an offensive manner while using our website, or use the website for any illegal, immoral or harmful purpose.
		
		%p 2.3	You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer. In order to provide you with an easy-to-use service, CRU Kafe Limited will place a 'cookie' (a small text file) on any computer you use to access the website. When you revisit the website, this cookie will enable us to recognise you as the account holder and provide you with direct access to your account without requiring you to retype any password or other user identification.

		%h2.margin-bottom-2 3.	Copyright
		
		%h3.margin-bottom-2 3.1	Copyright
		%p 3.1.1 This website and its content is copyright of CRU Kafe Limited 2013. All rights reserved.
		
		%h3.margin-bottom-2 3.2	Trademarks
		
		%p 3.2.1 All trademarks, logos, images, product and company names displayed or referred to on this website are the property of their respective owners. Nothing on this website grants you any licence or right to use, alter or remove such material.
		
		%h3.margin-bottom-2 3.3	User Material
		
		%p 3.3.1 In these Terms and Conditions, we use the term 'User Material' to refer to any material of any kind that you submit to us, including text, files, images, photos, video, sounds and musical or literary works. It does not include the account information you provide when you register as a member or when you subsequently change that information.
		
		%p 3.3.2 This section of our Terms and Conditions sets out the rights and obligations that you and we have in connection with User Material. If you review or submit User Material you are agreeing to do so on these Terms and Conditions. If you do not want to review or submit User Material on these terms, then you should not do so.
		
		%p 3.3.3 We do not systematically review User Material submitted by users of this website. We are not responsible for the content of User Material. We do not necessarily endorse any opinion contained in such material. We make no warranties or representations, express or implied, about User Material, including as to its legality or accuracy. We disclaim all liability in connection with User Material to the extent permitted by law.
		
		%p 3.3.4 We reserve the right, in our sole discretion, to refuse to post or to remove or edit any of your User Material, or to restrict, suspend, or terminate your access to all or any part of this website, particularly where User Material breaches this section of the Terms and Conditions and we may do this with or without giving you any prior notice.
		
		%p 3.3.5 We do not claim any ownership rights in User Material. However, by submitting User Material you hereby grant to CRU Kafe Limited a non-exclusive, royalty-free, sub licensable, transferable and worldwide license to use, reproduce, modify, prepare derivative works of, display and perform that User Material in any media (including, but not limited to, our website and those websites which we operate by way of a 'white label' or 'co-branded' service for third parties)
		
		%p 3.3.6 We may link User Material or parts of User Material to other material, including material submitted by other users of the website or created by CRU Kafe Limited and/or other third parties. We may use User Material for our internal business purposes, for example, to examine trends or categories and to use those in the website or to promote, market or advertise CRU Kafe Limited. We will not sell your User Material to third parties but you acknowledge that we may indirectly commercially benefit from it, for example, by selling third party advertising which appears next to User Material.
		
		%p 3.3.7 Each time you submit User Material to us, you represent and warrant to us as follows: (a) you own your User Material or have the right to submit it, and in submitting it you will not be infringing any rights of any third party, including intellectual property rights (including copyright or trademark), privacy or publicity rights, rights of confidentiality or rights under contract; (b) your User Material is not illegal, obscene, defamatory, threatening, pornographic, harassing, hateful, racially or ethnically offensive; does not encourage conduct that would be considered a criminal offense, give rise to civil liability, violate any law; and is not otherwise inappropriate; (c) your User Material does not advertise any product or service or solicit any business; (d) your User Material does not identify any individual (including by way or name, address or a still picture or video) under the age of 18 and if User Material identifies any individual over the age of 18, you have that person's consent to being identified in exactly that way in your User Material; and (e) in submitting your User Material you are not impersonating any other person.
		
		%p 3.3.8	Links to other websites - From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
		
		%ul 
			%li You may not create a link to this website from another website or document without CRU Kafe Limited's prior written consent.
			%li Your use of this website and any dispute arising out of such use of the website is subject to the laws of England and Wales.
		
		%p Once you have used these links to leave our site we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by our privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.

		%h2.margin-bottom-2 4.	Joining Us
		
		%p 4.1	We may refuse any application to join CRU Kafe Limited or receive our services for any reason whatsoever. Please note that by supplying your telephone number on joining us you grant us permission to contact you via phone regarding your account and any special offers or promotions that we may offer you from time to time.

		%h2.margin-bottom-2 5.	Availability of Website
		
		%p 5.1	Although we aim to offer you the best service possible, we make no promise that our website services will meet your requirements and we cannot guarantee that the service will be fault free. If a fault occurs in the service, please report it to us (see below for contact details) and we will correct the fault as soon as we reasonably can.
		
		%p 5.2	Your access to the CRU Kafe Website may be occasionally restricted to allow for repairs, maintenance or the introduction of new facilities or services. We will restore the service as soon as we reasonably can. In the event that our website is unavailable, our usual order and cancellation deadlines apply; please notify us of changes to your order via email at jointheCRU@CRUkafe.com.

		%h2.margin-bottom-2 6.	Free or discounted offers
		
		%p 6.1	Free or discounted introductory offers are only available to new users of the CRU Kafe Limited Service, except where expressly stated, previous users or trialists of CRU Kafe Limited do not qualify for an additional special offer.
		
		%p 6.2	Free or discounted offers are available only once to any one person.
		
		%p 6.3	Discounts and credits cannot be used in conjunction with any other offers.
		
		%p 6.4	You must have Internet access and valid payment details to redeem a free or discounted offer.
		
		%p 6.5	You will be charged the full price for boxes after your free or discounted offer. We will continue to bill you by your chosen payment method for the CRU Kafe Limited service until you cancel.

		%h2.margin-bottom-2 7.	Payments
		
		%p 7.1	Billing times may change in the run up to events that affect postal deliveries such as Bank Holidays. See 11.1
		
		%p 7.2	Payment services are provided by CRU Kafe.
		
		%p 7.3	If your payment details change, your card provider may provide us with updated card details. We may use these new details for your future orders in order to help prevent any interruption to the service. If you would prefer to opt out from this service, please contact us on jointheCRU@CRUkafe.com.
		
		%p 7.4	Please note that should your account fall into arrears, CRU Kafe Limited reserves the right to pass on your details to a collection agency for retrieval of the outstanding debt. There will be a £5 handling charge for all such cases.
		
		%p 7.5	You agree not to hold us responsible for banking charges incurred due to payments on your account.
		
		%p 7.6	Goods are subject to seasonal changes in supply levels and supply prices. CRU Kafe Limited reserves the right to change the fees for any services at any time. We agree to notify you at least 30 days in advance of any change in fees.
		
		%p 7.7	Upon registering, restarting regular deliveries, ordering one off orders or changing card details, your payment card will be authorised for up to the cost of 10 capsules to verify your payment details. A £1 payment will be taken from your card in order to authorise it and prevent fraud. This payment will be immediately voided, but some banks may temporarily reflect these against your account balance.

		%h2.margin-bottom-2 8.	Delivery and Return of orders
		
		%p 8.1	Orders can only be delivered to addresses within the United Kingdom (including Northern Ireland); this excludes PO Box addresses and BFPO addresses.
		
		%p 8.2	We currently use Royal Mail second class postage to deliver our orders to you. Proof of delivery is not obtained. Actual delivery times may vary for you depending on;
		
		%ul 
			%li our stock availability,
			%li your delivery address,
			%li when you make your selection, and
			%li circumstances impacting delivery by the Royal Mail.
		
		%p We reserve the right to use alternative delivery methods without prior notification.
		
		%p 8.3	You will not hold us responsible for any delays, outside our control, which relate to the delivery of orders.
		
		%p 8.4	It is the customer's responsibility to report all lost orders online within 7 days. Customers are obliged to comply with either Royal Mail's claim compensation process or CRU Kafe Limited's process. Failure to comply with these processes, as amended from time to time, will result in no refund.
		
		%p 8.5	If you change address, you must update your address details in the relevant section of the website to ensure that no orders are sent out to the wrong address. Please ensure this is done in time to take effect before you move as you will be liable for any orders posted to the wrong location. You can see a summary of these times at www.CRUkafe.com/lastorders
		
		%p 8.6	We reserve the right to cancel your membership if it becomes apparent that, in our sole opinion, the postal service in your area is too unreliable.
		
		%p 8.7	If you are dissatisfied with any product you receive from us, please contact our customer services team on <a href="mailto:jointheCRU@CRUkafe.com">jointheCRU@CRUkafe.com</a>. We retain the right to request a return of any faulty goods by recorded delivery to Unit 18 - Westbourne Studios, 242 Acklam Road, W105JJ and the product will be inspected. If the fault is agreed, a full refund will be given for the returned goods. We will consider refunds for any orders returned to us within 7 days of receipt. We reserve the right to refuse refund on any product.
		
		%p 8.8	If you place an order for multiple one-off orders, please be aware that they will still be sent via Royal Mail post and may be subject to delays. We therefore cannot guarantee delivery on a specific day and will not be held liable for delays outside of our control.

		%h2.margin-bottom-2 9.	Use
		%p 9.1	You agree that you will not infringe any rights including intellectual property rights of any person including, without limitation, copying, reproducing or otherwise modifying any material provided as part of the Service including the packaging.
		
		%p 9.2	All content and programming of the CRU Kafe Limited website is the property of CRU Kafe Limited. You may not reproduce, modify, copy or distribute or use for commercial purposes any of the materials or content on the CRU Kafe Limited website without written permission from CRU Kafe Limited.

		%h2.margin-bottom-2 10.	Cancellation
		
		%p 10.1	Despite the above provision, you are entitled to cancel a payment for products where fraudulent use has been made of your payment card by a person not acting, or to be treated as acting, as your agent. If you have already made a payment where your payment card has been so fraudulently used, then you should approach your card issuer for recredit to your card.
		
		%p 10.2	We reserve the right to terminate or restrict your use of our service, for any or no reason whatsoever. One reason that we may do so is if we believe that you are in breach of any obligation under these terms. If we terminate your use of our service as a result of a breach of any obligation under these terms, such termination would be immediate and without notice.

		%h2.margin-bottom-2 Privacy
		%p 11.	We collect personal information about you through your use of this website and our services. All information that we collect about you is subject to our Privacy Policy

		%h2.margin-bottom-2 Promotion Codes
		%p 12.	Any promotion code or offer provided on this site cannot be used in conjunction with any other promotion, past or present.

		%h2.margin-bottom-2 13.	Disclaimer of Warranties and Limitations on Liability
		%p 13.1	Nothing in this clause (13) or otherwise in these Terms and Conditions shall exclude or in any way limit CRU Kafe Limited's liability for;
		
		%ul 
			%li Fraud
			%li Death or personal injury caused by its negligence (including negligence as defined in s.1 Unfair Contract Terms Act 1977.
			%li Where you are a consumer, for negligence, breach of contract or breach of statutory duty in respect of defective products sold through the website.
			%li Liability to the extent the same may not be excluded or limited as a matter of law.
		
		%p Nor will any of these terms restrict any of your statutory rights. For further information about your statutory rights, contact your local authority Trading Standards Department or Citizen's Advice Bureau.
		
		%p 13.2	This website and its contents are provided "as is" and on an "as available" basis and we make no representations or warranties of any kind with respect to it. We assume no liability or responsibility for any errors or omissions in the content of the website, any failures, delays, or interruptions in the shipment of orders, delivery or downloading of any content contained on the website, any costs, losses, expenses or damages arising from the use of the content provided on the website or any conduct by users of the website. We reserve the right to deliver orders of content at our sole discretion. Subject to clause 11.1, we disclaim all representations and warranties, including, for example, warranties of merchantability, fitness for a particular purpose, and non-infringement. In addition, we do not represent or warrant that the information accessible via our site is accurate, complete or current.
		
		%p 13.3	In no event shall we, our shareholders, directors, officers, or employees be liable (jointly or severally), to you or any third party for any special, incidental, indirect or consequential damages of any kind, or any damages whatsoever resulting from loss of use, data or profits, whether or not advised of the possibility of damage, and on any theory of liability, arising out of or in connection with the use or performance of this information. If any applicable authority holds any portion of this section to be unenforceable, then liability will be limited to the fullest possible extent permitted by applicable law.
		
		%p 13.4	Subject to clauses 13.1, 13.2 and 13.3 our maximum liability to you, (whether in contract, tort, (including negligence), breach of statutory duty or otherwise), arising out of or in connection directly or indirectly with your use of the website, website content or our services shall not exceed in aggregate the greater of £1 and/or the total amount paid by you to us in respect of CRU Kafe Limited Services in the month preceding any such claim but, if you are a consumer, please note that this does not affect your statutory rights.

		%h2.margin-bottom-2 14.	Applicable Law
		
		%p 14.1	This website is controlled by CRU Kafe Limited. Your use of this website is governed by these Terms and Conditions and construed and enforced in accordance with the laws of England and Wales. Disputes arising from your use of this website and the services we provide are subject to the non-exclusive jurisdiction of the English courts.

		%h2.margin-bottom-2 15.	Assignment by Us
		
		%p 15.1	You agree that we may assign any of our rights and/or transfer, sub-contract or delegate any of our obligations under these Terms and Conditions. These Terms and Conditions are personal to you and are agreed to by you for your own benefit and not for the benefit of any other party.

		%h2.margin-bottom-2 16.	Memberships are Non-Transferable
		%p 16.1	CRU Kafe Limited memberships are not transferable and therefore cannot be sold or traded.

		%h2.margin-bottom-2 17.	No Waiver
		%p 17.1	If we delay exercising or fail to exercise or enforce any right available to us under these Terms and Conditions, such delay or failure does not constitute a waiver of that right or any other rights under these Terms and Conditions.

		%h2.margin-bottom-2 18.	Force Majeure
		%p 18.1	We will not be liable to you for any lack of performance, or the unavailability or failure, of this website or our services, or for any failure by us to comply with these Terms and Conditions, where such lack, unavailability or failure arises from any cause reasonably beyond our control.

		%h2.margin-bottom-2 19.	Third Party Rights
		%p 19.1	Subject to clause 13.3, and excluding the provisions of clause 3.1.2 which confers a benefit upon Third Party Licensor's as applicable, which you hereby acknowledge and agree shall be directly enforceable by such third parties, nothing in these Terms and Conditions confers on any third party any benefits under the provisions of the Contracts (Rights of Third Parties) Act 1999.
		
		%p 19.2	In accordance with clause 1.2.1, we may rescind, waive, assign, release or vary any or all of the provisions in this Agreement in any way without consent of any third party.

		%h2.margin-bottom-2 20.	Damaged or Defective Items
		
		%p 20.1	You must inspect the products on day of receipt and notify us the same day of any defects. We will replace or refund you for defective products if notified of any damage or defects on the day of receipt.

		%h2.margin-bottom-2 21.	Indemnity by you
		%p 21.1	You agree to indemnify and hold CRU Kafe Limited, its subsidiaries and affiliates, and each of their directors, officers, agents, contractors, partners and employees, harmless from and against any loss, liability, claim, demand, damages, costs and expenses, including reasonable legal fees, arising out of or in connection with any breach by you of these Terms and Conditions or any violation by you of any applicable laws or the rights of any third party.

		%h2.margin-bottom-2 22.	Website disclaimer
		%p 22.1	The information contained in this website is for general information purposes only. The information is provided by CRU Kafe Limited and whilst we endeavour to keep the information up-to-date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
		%p 22.2	This website and its content are copyright of CRU Kafe Limited
		%p 22.3	This version last updated January 11, 2014.

<!-- @include _footer -->