<!-- @include _header -->

.l-hero.hero-wholesale
	%h1 Wholesale
	%p Your employees deserve better coffee

%section.padding-vertical-6
	.l-content-wide
		.row.margin-bottom-6
			.columns-4
				.pricing-box
					%section.border-bk-bottom-1.padding-bottom-2
						%h4.heading.margin-bottom-1 4 - 6 Employees
						%h1.margin-bottom-1 £70
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 200
						%h4.heading PODS / MONTH
					%a.btn-secondary.btn-block.margin-bottom-1{:href => "https://CRUkafe.chargebee.com/hosted_pages/plans/wholesale200", :role => "button"} Order Now
					.footnote Cancel at anytime

			.columns-4
				.pricing-box.emphasis
					%section.border-bk-bottom-1.padding-bottom-2
						%h4.heading.margin-bottom-1 6 - 12 Employees
						%h1.margin-bottom-1 £135
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 400
						%h4.heading PODS / MONTH
					%a.btn-secondary.btn-block.margin-bottom-1{:href => "https://CRUkafe.chargebee.com/hosted_pages/plans/wholesale400", :role => "button"} Order Now
					.footnote Cancel at anytime

			.columns-4
				.pricing-box
					%section.border-bk-bottom-1.padding-bottom-2
						%h4.heading.margin-bottom-1 12 - 20 Employees
						%h1.margin-bottom-1 £190
						%h4.subheading Including P&P (UK Only)
					%section.padding-vertical-2
						%h1.price 600
						%h4.heading PODS / MONTH
					%a.btn-secondary.btn-block.margin-bottom-1{:href => "https://CRUkafe.chargebee.com/hosted_pages/plans/wholesale600", :role => "button"} Order Now
					.footnote Cancel at anytime
		.banner For bespoke CRU packages for your business - #{link_to('click here', '/contact')}.
			
<!-- @include _footer -->
