%footer
	%nav.social-nav 
		%ul
			%li 
				%a.sm-facebook{:href => 'https://www.facebook.com/CRUkafe?fref=ts'} 
			%li 
				%a.sm-twitter{:href => 'https://twitter.com/CRUkafe'}
			%li 
				%a.sm-youtube{:href => 'https://www.youtube.com/user/CRUkafe'} 
			%li 
				%a.sm-pinterest{:href => 'http://www.pinterest.com/CRUkafe'} 
			%li 
				%a.sm-instagram{:href => 'http://instagram.com/CRUkafe'}

	%nav.secondary-nav 
		%ul
			%li 
				%a{:href => 'about.html'} About
			%li 
				%a{:href => 'returns.html'} Returns
			%li 
				%a{:href => 'faq.html'} FAQ
			%li 
				%a{:href => 'terms_conditions.html'} Terms & Conditions
			%li 
				%a{:href => 'privacy_policy.html'} Privacy Policy
			%li 
				%a{:href => 'contact.html'} Contact
	
	.copyright CRU Kafe is a company registered in England & Wales, company number 08648796. </br> Nespresso® is the registered trademark of Société des Produits Nestlé SA.	

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script-->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<!--script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"-->
<script type="text/javascript" src="/assets/js/javascript.js">

<!-- @javascript javascript -->

<!-- Start Crazy Egg !-->
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0021/2461.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<!-- End Crazy Egg !-->

</body>

</html>