<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="/assets/fav.ico" rel="shortcut icon" type="image/x-icon" />
  <link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
  <link href='/assets/css/style.css' rel='stylesheet' type='text/css'>

  <title>CRU Kafe</title>

  <!-- Start Typekit !-->
  <script type="text/javascript" src="//use.typekit.net/fto7mio.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- End Typekit !-->

  <!-- Start GA !-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47698523-2', 'CRUkafe.co.uk');
    ga('send', 'pageview');

  </script>
  <!-- End GA !-->

  <!-- Start Go Squared !-->
  <script>
    !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    insertBefore(d,q)}(window,document,'script','_gs');

    _gs('GSN-936339-Y');
  </script>
  <!-- End Go Squared !-->

  <%= csrf_meta_tags %>

</head>

<body>
<div class="l-page-container">
<!-- @include _nav-white -->