%header.primary-header
	.l-content-fluid
		.row.table-layout
			.columns-2
				%a.logo{:href => '/'}
			.columns-8
				%ul.primary-nav
					%li 
						%a{:href => '/about'} About
					%li.dropdown
						%a.dropdown-toggle{:href => '#'} Blends
						%ul.dropdown-menu 
							%li 
								%a{:href => '/cru-flat-white'} CRU Flat White
							%li 
								%a{:href => '/cru-espresso'} CRU Espresso (Coming Soon)
						
					%li 
						%a{:href => '/contact'} Contact


			.columns-2.text-right
		
				.dropdown
					%a.dropdown-toggle.btn-bordered Get Coffee
					%ul.dropdown-menu 
						%li 
							%a{:href => '/subscribe'} Monthly Orders
						%li 
							%a{:href => '/gifts'} Gifts
						%li 
							%a{:href => '/pods'} Pods (one-off)
						%li 
							%a{:href => '/beans'} Beans
						%li 
							%a{:href => '/wholesale'} Wholesale
