%header.primary-header
	.container
		%a.logo{:href => '/index'}
		%ul.primary-nav
			%li 
				%a{:href => '/about'} About
			%li 
				%a{:href => '/blends'} Blends
			%li.dropdown
				%a.dropdown-toggle{:href => '#'} Get Coffee
				%ul.dropdown-menu 
					%li 
						%a{:href => '/subscribe'} Monthly Orders
					%li 
						%a{:href => '/pods'} Pods
					%li 
						%a{:href => '/beans'} Beans
					%li 
						%a{:href => '/wholesale'} Wholesale
			%li 
				%a{:href => '/faq'} FAQ
			%li 
				%a{:href => '/contact'} Contact