.col.span_1_of_4
	%nav.side-nav
		%ul
			%li 
				%a{:href => '/about'} About
			%li 
				%a{:href => '/returns'} Returns
			%li 
				%a{:href => '/privacy_policy'} Privacy Policy
			%li 
				%a{:href => '/team'} Team
			%li 
				%a{:href => '/terms_conditions'} Terms & Conditions
			%li 
				%a{:href => '/contact'} Contact